@font-face {
  font-family: 'wtGothic';
  src: url('/assets/fonts/WTGothic-Regular.woff2') format('woff2'),
    url('/assets/fonts/WTGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Italic vresion of the normal font. Do not use the custom WTGothic-RegularItalic name here
// so we don't have to spell it out everywhere.
@font-face {
  font-family: 'wtGothic';
  src: url('/assets/fonts/WTGothic-RegularItalic.woff2') format('woff2'),
    url('/assets/fonts/WTGothic-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'wtGothic-medium';
  src: url('/assets/fonts/WTGothic-Medium.woff2') format('woff2'),
    url('/assets/fonts/WTGothic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wtGothic-bold';
  src: url('../fonts/WTGothic-Bold.woff2') format('woff2'),
    url('../fonts/WTGothic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Italic version of the bold font. Use the 'wtGothic-bold' name so we don't have to have special
// classes for .
@font-face {
  font-family: 'wtGothic-bold';
  src: url('../fonts/WTGothic-BoldItalic.woff2') format('woff2'),
    url('../fonts/WTGothic-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}