@import 'assets/css/grid';
@import 'assets/css/fonts';
@import 'assets/css/uikit';

html {
  -webkit-text-size-adjust: 100%
}

body {
  width: 100%;
  display: block;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
}

* {
  list-style: none;
  font-style: unset;
  outline-style: none;
  font-family: Gotham, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-width: 0;
  line-height: 1.1;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

div {
  position: relative;
  z-index: 1
}

a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  font-family: 'wtGothic-bold';
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'wtGothic-bold';
}

li>a {
  font-family: 'wtGothic-bold';
}

p {
  font-family: 'wtGothic';
}

body {
  background-color: $--blue-light;
}

.img {
  vertical-align: middle;
  border: 0;

  &-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}