@import 'assets/css/fonts';
@import 'assets/css/uikit';

html {
  -webkit-text-size-adjust: 100%
}

body {
  width: 100%;
  display: block;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
}

* {
  list-style: none;
  font-style: unset;
  outline-style: none;
  font-family: Gotham, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-width: 0;
  line-height: 1.1;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

div {
  position: relative;
  z-index: 1
}

a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  font-family: 'wtGothic-medium';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'wtGothic-bold';
}

li>a {
  font-family: 'wtGothic-bold';
}

p {
  font-family: 'wtGothic';
}

.icono-caretDownCircle {
  border: 2px solid;
  width: 12px;
  height: 20px;
  margin: 7px 11px;
  border: 2px solid;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: currentColor;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.icono-caretDownCircle::after,
.icono-caretDownCircle::before {
  width: 11px;
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 7px;
  box-shadow: inset 0 0 0 32px;
  -webkit-transform-origin: right;
  transform-origin: right;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.icono-caretDownCircle::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.icono-caretDownCircle::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}