<header id="header" class="fixed" [ngClass]="isMenuOpen ? 'menuOpen orange' : 'blue'">
  <div class="g__row menu">
    <!-- logo -->
    <div class="menu__logo">
      <a href=""><img width="416" height="80" src="../assets/img/logo_wt{{isMenuOpen ? '_white' : ''}}.png"></a>
    </div>
    <!-- nav -->
    <nav id="nav" class="menu__nav" [ngClass]="isMenuOpen ? 'menuOpen' : ''">

      <div id="menu__btn" class="menu__btn" [ngClass]="isMenuOpen ? 'open' : ''" (click)="clickMenu()">
        <i class="menu__btn--burger"></i>
      </div>

      <ul class="menu__nav--list">
        <li class="menu__nav--item">
          <a routerLink="/home/" (click)="scrollToTarget('reframing')">Dashboard</a>
        </li>
        <li class="menu__nav--item">
          <a routerLink="/" (click)="scrollToTarget('what')">¿Que es?</a>
        </li>
        <li class="menu__nav--item">
          <a routerLink="/" (click)="scrollToTarget('why')">¿Por qué?</a>
        </li>
        <li class="menu__nav--item">
          <a routerLink="/" (click)="scrollToTarget('help')">¿Cómo ayuda a las marcas?</a>
        </li>
        <li class="menu__nav--item">
          <a routerLink="/" (click)="scrollToTarget('how')">¿Cómo se usa?</a>
        </li>
        <li class="menu__nav--item" (click)="isMenuOpen = false">
          <a routerLink="/team">Nuestro Equipo</a>
        </li>

      </ul>
    </nav>
  </div>
</header>