<div class="sec-reframing">
	<div class="g__row">
		<div class="g__col s10 move-s1 m8 move-m2 l4 move-l4 xl4 move-xl4">
			<h1 class="sec-reframing--title">
				<b>Reframing <br> Economy</b>
			</h1>

			<p class="sec-reframing--desc">
				Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus
				comportamientos y afectan la intensión de consumo.
			</p>

			<button class="sec-reframing__btn">
				Ir al Dashboard
			</button>
		</div>
	</div>

	<div class="g__row explore">
		<p class="explore--text">Scroll to explore</p>
		<div class="explore__icons">
			<i class="icon-caretDownCircleLight"></i>
			<i class="icon-line"></i>
		</div>
	</div>
</div>