<!-- Reframing -->
<div class="sec-reframing">
	<div class="g__row">
		<div class="g__col s10 move-s1 m8 move-m2 l4 move-l4 xl4 move-xl4">
			<h1 class="sec-reframing--title">
				<b>Reframing <br> Economy</b>
			</h1>

			<p class="sec-reframing--desc">
				Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus
				comportamientos y afectan la intensión de consumo.
			</p>

			<button class="sec-reframing__btn">
				Ir al Dashboard
			</button>
		</div>
	</div>

	<div class="g__row explore">
		<p class="explore--text">Scroll to explore</p>
		<div class="explore__icons">
			<i class="icon-caretDownCircleLight"></i>
			<i class="icon-line"></i>
		</div>
	</div>
</div>

<!-- what -->

<div class="sec-what">
	<div class="g__row">
		<div class="g__col s12 move-s0 m10 move-m1 l10 move-l1 xl10 move-xl1">
			<!-- info -->
			<div class="g__col s8 move-s1 m4 l3 xl3">

				<div class="sec-what__info">
					<h1 class="sec-what__info--title">
						<b>¿Qué es?</b>
					</h1>

					<p class="sec-what__info--desc">
						Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik´s, que trabaja con
						las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.
					</p>

					<a class="sec-what__info--btn">
						Ver teoría
					</a>
				</div>

			</div>

			<!-- images -->
			<div class="g__col s6 move-s5 m8 move-m0 l9 move-l0 xl9 move-l0">
				<div class="sec-what__box">
					<div class="g__col s12 move-s0 m6 move-m0 l6 move-l0 xl6 move-l0">
						<img class="img-responsive" src="../../assets/img/what/palette.png">
					</div>
					<div class="g__col s12 move-s0 m6 move-m0 l6 move-l0 xl6 move-l0">
						<img class="img-responsive" src="../../assets/img/what/palette_emojis.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>