@import '../../assets/css/responsive';
@import '../../assets/css/colors';

// reframing
.sec-reframing {
  background: $--blue-light;
  text-align: center;
  color: $--white;
  height: 100vh;

  &--title {
    padding-top: 150px;
    font-size: 3em;
    margin-bottom: 30px;

    @include --tablet {
      font-size: 2em;
    }
  }

  &--desc {
    font-size: 1em;
    margin-bottom: 40px;
  }

  &__btn {
    background-color: $--orange;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
  }

  &__btn:hover {
    background-color: #f08b6c;
  }
}

.explore {
  margin-top: 80px;
  position: relative;
  text-align: center;

  &--text {
    font-size: 12px;
    color: $--white;
    padding-bottom: 0px;
  }

  &__icons {
    position: relative;
    top: -25px;
  }
}

.explore .icon-line {
  height: 111px;
  width: 1px;
  background: white;
  top: 86px;
  left: -17px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

// sec what

.sec-what {
  background: $--blue-light;
  color: $--white;
  height: 100vh;

  &__info {
    position: absolute;
    right: -60px;
    top: 20px;

    @include --tablet {
      right: -40px;
    }

    @include --mobile {
      position: inherit;
      right: 0px;
    }

    &--title {
      padding-top: 50px;
      font-size: 3em;
      margin-bottom: 30px;

      @include --tablet {
        padding-top: 10px;
        font-size: 2em;
      }
    }

    &--desc {
      font-size: 1em;
      margin-bottom: 40px;
    }

    &--btn {
      text-decoration: underline;
      color: $--white;
      line-height: 2px;
      font-size: 12px;
    }
  }

  &__box {
    background: $--blue-dark;
    height: 25em;

    @include --desktop {
      padding: 80px 70px 60px 70px;
    }

    @include --tablet {
      height: 15em;
      padding: 52px 26px 20px 32px;
    }

    @include --mobile {
      height: 55vh;
      padding: 16px 35px 20px 50px;
    }

    @include --mobile-sm {
      padding: 16px 0px 20px 10px;
    }


  }

}

.sec-what .g__col:nth-child(2) {
  z-index: -1;
}

.sec-what__box .g__col:nth-child(2) {
  padding-left: 10px;

  @include --mobile {
    padding-top: 20px;
    padding-left: 0px;
  }
}

/* why */

.sec-why {
  padding-top: 200px;
  background: $--blue-light;
  color: $--white;
  padding-bottom: 100px;

  &--img-desktop {
    @include --mobile {
      display: none;
    }
  }

  &--img-mobile {
    display: none;

    @include --mobile {
      display: block;
    }
  }

  &__info {
    position: absolute;
    left: -60px;
    top: 120px;

    @include --tablet {
      top: 20px;
      left: -40px;
    }

    @include --mobile {
      position: inherit;
      left: 0px;
    }

    &--title {
      padding-top: 50px;
      font-size: 3em;
      margin-bottom: 30px;
      text-align: right;

      @include --tablet {
        padding-top: 10px;
        font-size: 2em;
      }
    }

    &--desc {
      font-size: 1em;
      margin-bottom: 40px;
      text-align: right
    }

    &--con {
      @include --mobile {
        margin-left: calc(27.33% + 5px);
      }

      @include --mobile-sm {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

/*help*/
.sec-help {
  background: $--orange;
  color: $--white;
  padding-top: 30px;
  padding-bottom: 80px;

  @include --mobile {
    padding: 80px;
  }

  &--title {
    padding-top: 50px;
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;

    @include --mobile {
      font-size: 2em;
    }
  }

  &--label {
    padding-top: 50px;
    font-size: 1em;
    margin-bottom: 30px;
    text-align: center;
  }

  &__logo {
    &.img-responsive {
      @include --mobile {
        margin: 0 auto;
      }
    }

    &--title {
      padding-top: 10px;
      font-size: 1.5em;
      text-align: center;
    }

    &--label {
      font-size: 1em;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.sec-help__logo img {
  margin: 0 auto;
  width: 70%;

  @include --mobile {
    width: 100%;
  }
}

.sec-help .explore .icon-line {
  width: 1.1px;
  height: 190px;
  background: white;
  top: -130px;
  left: 0px;

  @include --mobile {
    top: 0px;
  }
}

/* how */
.sec-how {
  background: $--blue-light;
  color: $--white;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;

  @include --mobile {
    padding: 80px;
  }

  &--title {
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;

    @include --mobile {
      font-size: 2em;
    }
  }

  &__logo {

    &.img-responsive {
      @include --mobile {
        margin: 0 auto;
      }
    }

    &--title {
      padding-top: 10px;
      font-size: 1.5em;
      text-align: center;
    }

    &--label {
      font-size: 1em;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__info {
    margin-top: 60px;

    &--text {
      font-size: 1em;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }

    &--btn {
      background-color: $--orange;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 17px;
      padding: 10px 30px;
      text-decoration: none;
    }

    &--btn:hover {
      background-color: #f08b6c;
    }
  }
}

.sec-how__logo img {
  margin: 0 auto;
  width: 70%;

  @include --mobile {
    width: 100%;
  }
}

.sec-how .explore .icon-line {
  width: 1.1px;
  height: 190px;
  background: white;
  top: 0px;
  left: 0px;
}

/* contact */

.sec-contact {
  background: $--blue-light;
  color: $--white;
  padding-bottom: 80px;
  text-align: center;

  &--title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }

  &__info {

    &--text {
      font-size: 1em;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }

    &--btn {
      background-color: $--orange;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 17px;
      padding: 10px 30px;
      text-decoration: none;

      @include --tablet {
        font-size: 15px;
      }
    }

    &--btn:hover {
      background-color: #f08b6c;
    }
  }
}